APP_NAME="Case dei Nobili"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://www.casedeinobili.com
APP_TIMEZONE=Europe/Madrid

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=casadeinobili
DB_USERNAME=casadeinobili_user
DB_PASSWORD=change_me
DB_SCHEMA=public
DB_SSLMODE=prefer

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.casedeinobili.com
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=case_dei_nobili_prod

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=change_me@example.com
MAIL_PASSWORD=change_me
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=change_me@example.com
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=change_me@example.com
CONTACT_INQUIRIES_KEY=change_me_private_access_key
ADMIN_TOOLS_KEY=change_me_tools_access_key
